/* Offcanvas menu background */
.offcanvas-end {
    background-color: #18ab49 !important; 
}

/* Offcanvas links */
.offcanvas-end .nav-link {
    color: #fff !important;  
    font-weight: 500;         
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Offcanvas button */
.offcanvas-end .btn {
    font-weight: bold;       
    color: #fff !important; 
    background-color: #ffc107 !important; 
    width: 80%;
    margin: 20px auto;
    display: block;
}

/* footer */
.footer-logo {
            font-size: 2rem;
            font-weight: bold;
            color: #007bff;
        }
        .footer-section h5 {
            color: #007bff;
            border-bottom: 2px solid #007bff;
            padding-bottom: 5px;
        }
        .social-icons a {
            color: white;
            font-size: 1.2rem;
            margin-right: 10px;
        }
        .social-icons a:hover {
            color: #007bff;
        }
